body {
  font:15px/1.3 Helvetica, Helvetica Neue, Arial, sans-serif;
 
  padding:5;
  color:#44459;
  font-size: 15px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,
  sans-serif;
  line-height: 1.6;
   
}
a {
  color:#dc4368;
}
a:visited {
  color:#e0829b;
}
code {
  background:#daeaea;
  padding:1px;
}

.wrapper, .top{
  background: url("../img/bg-top.jpg") repeat-x;
  margin:0 auto;
  width:960px;
  overflow:hidden;
}
#top {
  height:122px;
  margin-bottom:20px;
}
h2, h3 {
  margin:0 0 30px;
}
h2 {
  font-size:30px;
}
h3 {
  font-size:20px;
}
h4 {
  font-size:15px;
}
.title1 {
  float:right;
  margin-top:50px;
  margin-right: 70px;  
}
#title1 {
  font-size:8px;
  color:white;
  float:left;
  margin:50px 25px;
}
#title, h2, h3, h4 {
  font-weight:normal;
}
#title {
  float:left;
  margin:23px 18px;
}
.menu {
  float:left;
  margin: 38px 22px 0;
}
.menu ul {
  margin: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 7px;
  overflow: hidden;
  float: left;
  box-shadow: inset  2px 2px 2px rgba(0,0,0,0.5);
  -webkit-border-radius:5px 5px 5px 5px;
     -moz-border-radius:5px 5px 5px 5px;
          border-radius:5px 5px 5px 5px;
} 
.menu li{
  float: left;
  margin-right: 5px;
}
.menu li:last-child {
  margin-right: 0;
}

.menu a {
  float: left;
  text-decoration: none;
  color:#ffe5e5;
  font-size: 0.85em;
  text-transform: uppercase;
  padding: 7px 24px;
  -webkit-transition: background-position 0.2s linear;
     -moz-transition: background-position 0.2s linear;
      -ms-transition: background-position 0.2s linear;
       -o-transition: background-position 0.2s linear;
          transition: background-position 0.2s linear;

  background-color:#ad0029;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #de0337), color-stop(100%, #ad0029));
  background-image:    -moz-gradient(linear, left top, left bottom, color-stop(0%, #de0337), color-stop(100%, #ad0029));
  background-image:         gradient(linear, left top, left bottom, color-stop(0%, #de0337), color-stop(100%, #ad0029));
  background-image: -webkit-linear-gradient (top #2B0000, #ad0060);
  background-image:    -moz-linear-gradient (top #de0337, #ad0029);
  background-image:     -ms-linear-gradient (top #de0337, #ad0029);
  background-image:      -o-linear-gradient (top #de0337, #ad0029);
  background-image:         linear-gradient (top #de0337, #ad0029);
  
  background-image: repeat-x;

 -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
         box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);

 -webkit-text-shadow: 0 -1px 0 #8b051f;
    -moz-text-shadow: 0 -1px 0 #8b051f;
         text-shadow: 0 -1px 0 #8b051f;

  webkit-border-radius: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;
}
.menu a:hover {
 background-position: 0 -25px;
}

article {
  width:960px;
  float:left;
  margin-right:20px;
}
article header, article section {
  width:320px;
  float:left;
}
article aside {
  padding:8px;
  float:right;
  width:300px;

}
article footer {
  width:100%;
  float:left;
  clear:both;
}
article h1 {
  font:  40px/50px 'KomikaDisplayRegular', Helvetica, Helvetica Neue, Arial, sans-serif;
  color: #098493;
}
article p{
  text-align: justify;
}
 .main_image{
   transform:  rotate(4deg);
   max-width: 100%;
   height: auto;
   vertical-align: bottom;
   border: 10px solid #fff;
   -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
   -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
   -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.clip{
    background-position: -10px;
  }


/*icones */
.pubdate{
  padding-left: 25px;
  background: url("../img/icons.png") 0 0 no-repeat;
  
}
.duration, .yield{
  display: block;
  margin-bottom: 1em;
  padding-left: 25px;
  background: url("../img/icons.png") 0 0 no-repeat;
}
.duration{
  background-position: 0 -29px;
}
.yield{
  background-position: 0 -59px;
}
aside h3{
    margin-top: 15px;
    background:url("../img/bg-footer.gif") repeat-x;
    background-color: rgba(0,0,0,0.5);
    box-shadow: -4px 5px 5px
    -webkit-border-radius:5px;
    
}

.ingredients h3, .preparation h3{
  border-bottom:2px solid #daecee;
}
#sidebar {
  width:300px;
  float:right;
}
#sidebar ul {
  padding:0;
}
#popular li , h3{
  padding:8px 10px 8px 0;
  list-style-type:none;
  overflow:hidden;
  border-bottom:2px solid #daecee;
}
#popular .thumb {
  float:left;
  margin-right:12px;
}
#footer {
  background:url("../img/bg-footer.gif") repeat-x;
  padding:0;
  color:#fff;
  height:102px;
  margin-top:20px;
  width:100%;
  clear:both;
}
#footer .container {
  margin:0 auto;
  width:960px;
  overflow:hidden;
}
#footer a {
  color:#efefef;
}
#footer h4 {
  float:left;
}
#footer .follow {
  float:right;
  width:50%;
  text-align:right;
}
#footer .menu {
  margin-top:5px;
}
#footer .menu a {
  padding:6px;
  color:#efefef;
  }
#footer .menu a:hover {
  background:none;
}

.tags, .lesson {
  clear:left;
  padding-bottom:40px;
  width:320px;
  float:left;
}
.lesson ol li {
  font-size:1.15em;
  margin-bottom:1em;
}
